.background {
  background-image:url('background.jpg');
  background-position:center;
  color:white;
  height: 600px;
}
.navi-color {
  color: #eee !important;
}
@media only screen and (max-width: 991px) {
  .jumbotron {
    padding: 0 !important;
  }
}
.jumbotron {
    padding: 0 !important;
}